language: node_js

branches:
  only:
    - master
    - development

before_install:
  - npm -g install npm@latest
  - npm install -g grunt-cli karma-cli bower

install:
  - npm install
  - bower install
